In [1]:
import numpy as np 
import pandas as pd

### Series from Python lists

In [2]:
country = ['India', 'Pakistan','Nepal','Bhutan','Srilanka','Afganistan']
pd.Series(country)

0         India
1      Pakistan
2         Nepal
3        Bhutan
4      Srilanka
5    Afganistan
dtype: object

##### Index

In [5]:
marks = [97,98,99,93,94]
subjects = ['Maths','Science','English','SST','Odia']
pd.Series(marks,index=subjects,name='My Marks')

Maths      97
Science    98
English    99
SST        93
Odia       94
Name: My Marks, dtype: int64

### Series From Dictionary

In [11]:
marks = {
    'Maths': 97,
    'Science': 98,
    'English': 99,
    'SST': 93,
    'Odia': 94,
}

df = pd.Series(marks,name='My Marks')

### Series Attributes

In [14]:
df.size

5

In [15]:
df.dtype

dtype('int64')

In [16]:
df.name

'My Marks'

In [18]:
# No Repitition
df.is_unique

True

In [19]:
df.index

Index(['Maths', 'Science', 'English', 'SST', 'Odia'], dtype='object')

In [20]:
# Returns numpy array
df.values

array([97, 98, 99, 93, 94], dtype=int64)

### Series Using read_csv

In [39]:
new_df = pd.read_csv('../Data Analysis/Data Gathering/Exporting/owngoals.csv',index_col='Unnamed: 0')
new_df = new_df.drop(['index','date','team','minute'],axis=1)
new_df.squeeze

<bound method NDFrame.squeeze of                  scorer
0           Luis García
1         Manuel Varela
2          Daniel Ulloa
3      Adhemar Canavesi
4          Manuel Rosas
..                  ...
781    Patrik Hrošovský
782  Leo Skiri Østigård
783    Luka Lochoshvili
784       Jani Atanasov
785         Joan Cervós

[786 rows x 1 columns]>